<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:name=".MyApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DailySpark">
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.DailySpark.Splash"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".ui.activity.CategoriesItemActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.QuotesViewActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <receiver
            android:name=".service.ShareCountReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".ui.activity.OnboardingActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <receiver
            android:name=".receiver.ReminderReceiver"
            android:exported="false" />

        <receiver
            android:name=".receiver.BootReceiver"
            android:enabled="true"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

        </receiver>

        <!-- Test Ad Id-->
                <meta-data
                    android:name="com.google.android.gms.ads.APPLICATION_ID"
                    android:value="ca-app-pub-3940256099942544~3347511713"/>

        <!-- Live Ad Id-->
<!--        <meta-data-->
<!--                    android:name="com.google.android.gms.ads.APPLICATION_ID"-->
<!--                    android:value="ca-app-pub-7210024420146479~9733273951" />-->

    </application>

</manifest>